@import "main.css";
@import "header.css";
@import "recommend.css";
@import "authors.css";

.screen {
  height: 760px;
  width: 340px;
  padding: 0px;
  position: relative;
}

.screen__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 50px;
  position: absolute;
  background-color: white;
  border-radius: 40px;
  top: 75px;
  left: 10px;
  box-shadow: 0 10px 20px -4px rgb(0, 0, 0, 0.2);
  /* h-shadow, v-shadow, blur, spread, color*/
}

.screen__search span,
.screen__search i {
  opacity: 40%;
}

.screen__search i {
  margin-left: 140px;
}
